body{
  background-color:#c1bde7
}
.dashboard-container {
  min-height: calc(100vh - 70px);
  width: 100%;
   padding: 30px;
}


.dashboard-title {
  color: #37d928;
  margin-bottom: 20px;
}

.logout-button {
  background: #6d28d9;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}