.footer {
  background: linear-gradient(
    135deg,
    #050506,
    #412579,
    #903a3a
  );

  color: white;
  padding: 60px 50px 20px;
  margin-top: auto;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.15);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.footer-section h2 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-section h3 {
  margin-bottom: 15px;
  position: relative;
}

.footer-section h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: white;
  margin-top: 6px;
  border-radius: 10px;
}

.footer-section p,
.footer-section li {
  color: #f3f4f6;
  line-height: 1.8;
  list-style: none;
  transition: 0.3s;
}

.footer-section li:hover {
  transform: translateX(5px);
  color: #fde68a;
  cursor: pointer;
}

.footer-section ul {
  padding: 0;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icons span {
  width: 45px;
  height: 45px;
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons span:hover {
  background: white;
  color: #0d0c0f;
  transform: translateY(-5px);
}

.footer hr {
  margin: 30px 0 20px;
  border: none;
  border-top: 1px solid rgba(255,255,255,0.3);
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #e5e7eb;
}


.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 40px;
  margin-bottom: 40px;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
}

.subscribe-text p {
  font-size: 12px;
  letter-spacing: 2px;
  color: #c4b5fd;
  margin-bottom: 5px;
}

.subscribe-text h2 {
  color: white;
  font-size: 30px;
  margin: 0;
}

.subscribe-form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 40px;
  overflow: hidden;
  width: 500px;
  max-width: 100%;
}

.subscribe-form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 14px;
}

.subscribe-form button {
  border: none;
  background: #312e81;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px;
  margin: 4px;
  transition: 0.3s;
}

.subscribe-form button:hover {
  background: #4f46e5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #f59e0b;
}
